.card {
  background-color: #e8d8d8;
  box-shadow: 5px 5px 10px #b3b3b3;
  width: 250px;
  min-height: 184px;
  max-height: 240px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  position: relative;
}

.card-btn {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 5px;
  font-weight: bold;
  border: solid 1px grey;
}

.card-btn:hover {
  background-color: #d66b6b;
}

.card-container {
  /* display: flex;  */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
/*   align-items: center; */
  margin: 10px;
}

.card-container li {
  margin-bottom: 2px;
}

.card-container li:last-child {
  margin-bottom: 0;
}

.card-info {
/*   display: inline;  */
/*    padding-left: 5px;  */
  padding-right: 5px;
}

.card__pic {
  background-size: 200px 100px;
  background-position: 50% 50%;
  /* width: 200px; */
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: border 0.2s;
  border-radius: 5px 5px 0 0;
}

.card-img {
  object-fit: cover;
  height: 177px;
  border-radius: 5px;
  background-position: 50% 50%;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  gap: 40px 30px;
  justify-content: center;
}

/* .card__item {
  width: 75px;
  height: 75px;
  margin: 3px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #b3b3b3;
  cursor: pointer;
  transition: border 0.2s;
} */

/* .card__item {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-size: 200px 155px;
  background-position: 50% 100%;
  margin: 3px;  
  text-align: left;
  padding-left: 10px;
  background-repeat: no-repeat;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #b3b3b3;
  cursor: pointer;
  transition: border 0.2s;
} */

.card__item {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 3px;
  /* border: 1px solid grey; */
  border: 3px solid transparent;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #b3b3b3;
}

.card__pic.maximized {
  position: fixed;
  left: -5px;
  top: -5px;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  background-size: cover;
  background-position: 50% 50%;
}

.card__pic.maximized:hover {
  content: '';
  border: none;
  background-position: 50% 50%;
}

.card__item:hover {
  content: '';
  border: 3px solid #ff5757;
  transition: border 0.2s;
}