.footer {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  min-height: 40px;
  max-height: 60px;
  border-top: 2px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin-top: 10px;
}