.pagination {
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
  list-style-type: none;
}

.pagination__item {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 11.5px; */
  margin: 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15px;
  background-color: lightblue;
  transition: width 0.2s, height 0.2s;
}
.pagination__item:hover {
  width: 42px;
  height: 42px;
  transition: width 0.2s, height 0.2s;
}

.pagination__item--active {
  font-weight: 800;
  background-color: #fc9d9d;
}