html {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

label {
  cursor: pointer;
}

.wrapper {
  /* height: 100%; */
  background-color: #f4f4f4;
  /* background-color: #e5e5e5; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  overflow: hidden;
  max-width: 1200px;
  margin: 2.5% auto;

}

.header {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 2 1;
  position: sticky;
  top: 0px;
  z-index: 10;
  width: 100%; 
  border-bottom: 1px solid grey;
  box-shadow: 2px 5px 10px grey;
}

.main-content {
  flex: 1 1 auto;
}

.footer {
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  min-height: 40px;
  max-height: 60px;
  border-top: 2px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0px;
  left: 0px;
  width: 100%; 
  margin-top: 10px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  gap: 40px 30px;
  justify-content: center;
}

.card {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #b3b3b3;
  /* padding: 3px; */
  width: 250px;
  min-height: 184px;
  max-height: 240px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-img {
  object-fit: cover;
  height: 177px;
  /* width: 244px; */
  background-image: url("https://www.freepik.com/free-photos-vectors/blue-merle-australian-shepherd");
  border-radius: 5px;
}

.card-btn {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 5px;
  font-weight: bold;
  border: solid 1px grey;
} 

.card-btn:hover {
  background-color: #d66b6b;
}

.card-info {
display: flex;
/* height: 50px; */
margin: 10px;
}

/* .control {
   display: flex; 
  flex: 1 2 1;
  justify-content: space-between;
  align-items: center; 
  top: 3.5%; 
   left: 82%; 
   transform: translate(-50%, -50%); 
   min-width: 200px;
} */

.switcher__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.dropdown__text {
  font-weight: bold;
  color: darkslategray;
}

label input[name=display] {
  display: none;
}


.switcher__group {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switcher__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
}

.active {
background-color: greenyellow;
}

.mg__left {
  margin-left: 20px;
}

.filter {
  border: 2px solid black;
  border-radius: 20px;
  min-width: 200px;
  height: 70px;  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.filter__title {
  font-size: 16px;
  font-weight: bold;
}

.filter__item {
  margin-top: 2px;
  margin-bottom: 5px;
}

.refresh {
  min-width: 70px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.refresh-btn {
  background-image: url("/img/refresh.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  border-radius: 50%;
  /* transition: width 0.2s, height 0.2s; */
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.refresh-btn:hover {
  animation: spin 2s linear 0s infinite;
  /* width: 95px; */
  /* height: 95px; */
  /* transition: width 0.2s, height 0.2s; */
  transform: rotate(360deg);
}

.filter__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__title {  
  margin-right: 20px;
}





.dropdown {
  position: relative;
  margin-top: 2px;
}

.dropdown:hover .dropdown__menu {
  display: block;
}

.dropdown__menu::after {
 content: "";
 position: absolute;
 display: block;
 width: 0px;
 height: 0px;
 left: 95px;
 top: -28px;
 border: 15px solid transparent;
 border-bottom-color: #b96cbe;
}

.dropdown__menu::before {
 content: "";
 position: absolute;
 display: block;
 height: 30px;
 right: 0px;
 left: 0px;
 top: -30px;
}

.dropdown__menu {
  position: absolute;
  white-space: wrap;
  text-align: center;
  line-height: 1.2;
  right: 0px;
  opacity: 0.9;
  width: 160px;
  border-radius: 5px;
  padding: 19px;
  top: 100%;
  display: none;
  margin-top: 15px;
  color: #111;
  font-weight: bold;
  background: #b96cbe;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
  list-style-type: none;
}

.pagination__item {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 11.5px; */
  margin: 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 15px;
  background-color: lightblue;
  transition: width 0.2s, height 0.2s;
}
.pagination__item:hover {
  width: 42px;
  height: 42px;
  transition: width 0.2s, height 0.2s;
  
}

.pagination__item--active {
  font-weight: 800;
  background-color: #fc9d9d;
}