html {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

.wrapper {
  /* height: 100%; */
  /* background-color: #f4f4f4; */
  background-color: #F0F0F0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  overflow: hidden;
  max-width: 1200px;
  margin: 2.5% auto;

}

.header {
  background-color: lightgreen;
  min-height: 50px;
  max-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 10;
  width: 100%; 
}

.main-content {
  flex: 1 1 auto;
}

.footer {
  background-color: lightpink;
  min-height: 50px;
  max-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0px;
  left: 0px;
  width: 100%; 
  margin-top: 10px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  gap: 40px 30px;
  justify-content: center;
}

.card {
  background-color: #c2b8c0;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
  padding: 3px;
  width: 250px;
  min-height: 184px;
  max-height: 240px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* margin-bottom: 25px; */
}

.card-img {
  object-fit: cover;
  height: 177px;
  width: 244px;
  background-image: url("https://www.freepik.com/free-photos-vectors/blue-merle-australian-shepherd");
  border-radius: 5px;
}

.card-btn {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 5px;
  font-weight: bold;
  border: solid 1px grey;
} 

.card-btn:hover {
  background-color: #d66b6b;
}

.card-info {
display: flex;
/* height: 50px; */
margin: 10px;
}

.refresh {
  position: fixed;
  top: 15%;
  left: 95%;
  transform: translate(-50%, -50%);
}

.refresh-btn {
  background-image: url("/img/refresh.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  display: block;
  position: relative;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.refresh-btn:hover {
  animation: spin 2s linear 0s infinite;
  width: 80px;
  height: 80px;
  transition: width 0.2s, height 0.2s;
  transform: rotate(360deg);
}

label {
  cursor: pointer;
}



/* _____ */
.treeline, .treeline ul, .treeline li {
  margin: 0; padding: 0; line-height: 1.2; list-style: none;
}
.treeline ul {margin: 0 0 0 15px; /* отступ вертикальной линии */}
.treeline > li:not(:only-child), .treeline li li {
  position: relative;
  padding: 3px 0 0 20px; /* отступ текста */
}
/* Стиль вертикальной линии */
.treeline li:not(:last-child) { border-left: 1px solid #ccc;}
/* Стили горизонтальной линии*/  
.treeline li li:before, .treeline > li:not(:only-child):before {
  content: ""; position: absolute; top: 0; left: 0;
  width: 1.1em; height: .7em; border-bottom:1px solid #ccc;
}
/* Вертикальная линия последнего пункта в списка */  
.treeline li:last-child:before {
  width: calc(1.1em - 1px); border-left: 1px solid #ccc;
}

.treeline .drop {
  position: absolute; left: -6px; top: 5px; width: 11px;
  height: 11px; line-height: 1em; text-align: center;
  background: #9F9F9F; color: #fff; /* Фон и цвет кнопки, раскрывающей список */
  font-size: 78%; /* Размер +/- */
  cursor: pointer; -webkit-user-select: none; -moz-user-select: none;
}
.treeline li:last-child > .drop {margin-left: 1px;}
.treeline .drop + ul {display: none;}
.treeline .dropM + ul {display: block;}